# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
*.log

# Environments
env/
venv/
ENV/
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Coverage
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Docker
docker-compose.override.yml

# Local settings
local_settings.py

# Files for Cloudinary uploads
media/